---
http_interactions:
- request:
    method: get
    uri: https://bitcoin-central.net/api/v1/account_operations/c503b258-2ad8-49a5-a8c6-b3ecad05ba70
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      Etag:
      - ! '"9e4241c223a615f24815a324e3b73ed2"'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
    body:
      encoding: US-ASCII
      string: ! '{"uuid":"c503b258-2ad8-49a5-a8c6-b3ecad05ba70","amount":5.2,"currency":"EUR","state":null,"created_at":"2013-02-24T18:06:37-05:00","type":"invoice_credit","balance":2341.15630267}'
  recorded_at: Tue, 26 Feb 2013 07:06:14 GMT
recorded_with: VCR 2.4.0
