---
http_interactions:
- request:
    method: get
    uri: https://bitcoin-central.net/api/v1/trade_orders/active
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      Etag:
      - ! '"98bab175e3caa8e478e5eb4b5d7b81d2"'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
    body:
      encoding: US-ASCII
      string: ! '[{"uuid":"148ab996-ab63-45cc-b240-99c78bb18a11","instructed_amount":300.0,"amount":268.70563158,"currency":"EUR","state":"active","created_at":"2013-02-07T13:09:44-05:00","updated_at":"2013-02-25T11:31:58-05:00","price":15.9199,"type":"buy"}]'
  recorded_at: Tue, 26 Feb 2013 07:06:16 GMT
recorded_with: VCR 2.4.0
