---
http_interactions:
- request:
    method: get
    uri: https://bitcoin-central.net/api/v1/trade_orders/active
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      Etag:
      - ! '"817674dda26f53ffa7ff375baca4ba60"'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4919'
    body:
      encoding: US-ASCII
      string: ! '[{"uuid":"148ab996-ab63-45cc-b240-99c78bb18a11","instructed_amount":300.0,"amount":268.70563158,"currency":"EUR","state":"active","created_at":"2013-02-07T18:09:44Z","updated_at":"2013-02-24T23:06:39Z","price":15.9199,"type":"buy"}]'
  recorded_at: Mon, 25 Feb 2013 12:43:59 GMT
recorded_with: VCR 2.4.0
