---
http_interactions:
- request:
    method: get
    uri: https://bitcoin-central.net/api/v1/trade_orders/148ab996-ab63-45cc-b240-99c78bb18a11
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      Etag:
      - ! '"d9cfa2b062f824a7523370dfb7550733"'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4985'
    body:
      encoding: US-ASCII
      string: ! '{"uuid":"148ab996-ab63-45cc-b240-99c78bb18a11","instructed_amount":300.0,"amount":268.70563158,"currency":"EUR","state":"active","created_at":"2013-02-07T18:09:44+00:00","updated_at":"2013-02-28T13:21:39+00:00","price":15.9199,"type":"buy"}'
  recorded_at: Thu, 28 Feb 2013 15:48:16 GMT
recorded_with: VCR 2.4.0
