---
http_interactions:
- request:
    method: get
    uri: https://bitcoin-central.net/api/v1/trade_orders/148ab996-ab63-45cc-b240-99c78bb18a11/trades
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      Etag:
      - ! '"183f7887db77a1cd6df51ab91951d7f2"'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4984'
    body:
      encoding: US-ASCII
      string: ! '[{"uuid":"72629cb4-b29f-4674-9169-198b02ec7a69","traded_btc":0.93342281,"traded_currency":14.85999779,"created_at":"2013-02-07T20:15:48+01:00","currency":"EUR","price":15.9199},{"uuid":"62e0476d-fdff-4f83-bf56-259211651564","traded_btc":1.50962,"traded_currency":24.03299944,"created_at":"2013-02-07T20:29:08+01:00","currency":"EUR","price":15.9199},{"uuid":"c5236e75-47aa-4060-8733-b850ecab0ece","traded_btc":15.95231061,"traded_currency":253.95918968,"created_at":"2013-02-08T00:52:00+01:00","currency":"EUR","price":15.9199},{"uuid":"0b611238-e3cc-4056-979d-51177edbfda5","traded_btc":10.17725,"traded_currency":162.02080228,"created_at":"2013-02-08T03:28:20+01:00","currency":"EUR","price":15.9199},{"uuid":"f38c11a2-5a4b-40b4-b199-92f3374856ee","traded_btc":2.721765,"traded_currency":43.33022662,"created_at":"2013-02-08T10:21:14+01:00","currency":"EUR","price":15.9199}]'
  recorded_at: Thu, 28 Feb 2013 15:56:06 GMT
recorded_with: VCR 2.4.0
