---
http_interactions:
- request:
    method: get
    uri: https://bitcoin-central.net/api/v1/account_operations
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      Pagination:
      - ! '{"total":1499,"total_pages":75,"first_page":true,"last_page":false,"previous_page":null,"next_page":2,"offset":0}'
      Etag:
      - ! '"95887ad735c1537360078c8cec20497d"'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4922'
    body:
      encoding: US-ASCII
      string: ! '[{"uuid":"c503b258-2ad8-49a5-a8c6-b3ecad05ba70","amount":5.2,"currency":"EUR","state":null,"created_at":"2013-02-25T00:06:37+01:00","type":"invoice_credit","balance":2341.15630267},{"uuid":"52cbd031-f66a-4237-8094-3e6346f0a39a","amount":-20.0,"currency":"EUR","state":"processed","created_at":"2013-02-24T22:26:40+01:00","type":"email_transfer","balance":2335.95630267},{"uuid":"ef39e16d-940c-4182-901e-0e30cce4228f","amount":-50.99,"currency":"EUR","state":"processed","created_at":"2013-02-14T10:51:14+01:00","type":"wire_transfer","balance":2355.95630267},{"uuid":"9a384daa-ae5d-4868-a916-51064ba3175f","amount":2.721765,"currency":"BTC","state":null,"created_at"[...]
