---
http_interactions:
- request:
    method: get
    uri: https://bitcoin-central.net/api/v1/ticker
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      Etag:
      - ! '"79d1034bb7cdc92604fb19d0249d6bc5"'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4921'
    body:
      encoding: US-ASCII
      string: ! '{"high":24.79,"low":23.15,"volume":147.82217191,"bid":24.02,"ask":24.79,"midpoint":24.405,"at":1361796077,"price":24.79,"variation":7.2696,"currency":"EUR"}'
  recorded_at: Mon, 25 Feb 2013 12:43:58 GMT
recorded_with: VCR 2.4.0
