---
http_interactions:
- request:
    method: get
    uri: https://paytunia.com/api/v1/ticker
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      Etag:
      - ! '"398b5fee6a417fd35c71be8b53da47e9"'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4963'
    body:
      encoding: US-ASCII
      string: ! '{"high":24.0,"low":23.1,"volume":102.15787216,"bid":23.50004,"ask":23.94996,"midpoint":23.725,"at":1361778452,"price":23.94996,"variation":4.1253,"currency":"EUR"}'
  recorded_at: Mon, 25 Feb 2013 07:56:43 GMT
recorded_with: VCR 2.4.0
