---
http_interactions:
- request:
    method: post
    uri: https://bitcoin-central.net/api/v1/trade_orders
    body:
      encoding: US-ASCII
      string: ! '{"amount":"0.1E2","currency":"EUR","type":"buy","price":"0.3E2"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      Etag:
      - ! '"9238cdddf78e88da813d7e4e6c1f6727"'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
    body:
      encoding: US-ASCII
      string: ! '{"uuid":"b81136d0-3718-40d2-9fbb-9aafcb4e5c31","instructed_amount":10.0,"amount":10.0,"currency":"EUR","state":"pending_execution","created_at":"2013-02-28T14:21:23+01:00","updated_at":"2013-02-28T14:21:23+01:00","price":30.0,"type":"buy"}'
  recorded_at: Thu, 28 Feb 2013 13:21:23 GMT
recorded_with: VCR 2.4.0
