---
http_interactions:
- request:
    method: get
    uri: https://bitcoin-central.net/api/v1/trade_orders
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      Pagination:
      - ! '{"total":37,"total_pages":2,"first_page":true,"last_page":false,"previous_page":null,"next_page":2,"offset":0}'
      Etag:
      - ! '"9abda705faca1718e4109e2efa88d75f"'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4920'
    body:
      encoding: US-ASCII
      string: ! '[{"uuid":"62393532-6538-3632-6466-663034646465","instructed_amount":1.0,"amount":0.0,"currency":"EUR","state":"filled","created_at":"2013-01-11T11:56:01Z","updated_at":"2013-01-11T11:56:22Z","price":null,"type":"sell"},{"uuid":"62373734-3465-3733-3766-346563333364","instructed_amount":2.0,"amount":1.02366092,"currency":"EUR","state":"canceled","created_at":"2013-01-11T11:57:31Z","updated_at":"2013-01-11T11:58:00Z","price":null,"type":"buy"},{"uuid":"63633463-3230-6662-3264-646637326363","instructed_amount":1.0,"amount":0.0,"currency":"EUR","state":"filled","created_at":"2013-01-11T12:00:48Z","updated_at":"2013-01-11T12:00:58Z","price":null,"type":"sell"},{"uuid":"64333563-6365-3134-3863-633134333535","[...]
