---
http_interactions:
- request:
    method: get
    uri: https://bitcoin-central.net/api/v1/trade_orders
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      Pagination:
      - ! '{"total":49,"total_pages":3,"first_page":true,"last_page":false,"previous_page":null,"next_page":2,"offset":0}'
      Etag:
      - ! '"ceef332f25654aeb94e56546261a5d1b"'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
    body:
      encoding: US-ASCII
      string: ! '[{"uuid":"62393532-6538-3632-6466-663034646465","instructed_amount":1.0,"amount":0.0,"currency":"EUR","state":"filled","created_at":"2013-01-11T06:56:01-05:00","updated_at":"2013-01-11T06:56:22-05:00","price":null,"type":"sell"},{"uuid":"62373734-3465-3733-3766-346563333364","instructed_amount":2.0,"amount":1.02366092,"currency":"EUR","state":"canceled","created_at":"2013-01-11T06:57:31-05:00","updated_at":"2013-01-11T06:58:00-05:00","price":null,"type":"buy"},{"uuid":"63633463-3230-6662-3264-646637326363","instructed_amount":1.0,"amount":0.0,"currency":"EUR","state":"filled","created_at":"2013-01-11T07:00:48-05:00","updated_at":"2013-01-11T07:00:58-05:00","price":null,"type":"sell"},{"uuid":"64333563-6365-3134-[...]
