---
http_interactions:
- request:
    method: get
    uri: https://bitcoin-central.net/ticker.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      Etag:
      - ! '"f314c99f35febba274f481f1cb35883a"'
    body:
      encoding: US-ASCII
      string: ! '{"high":21.5,"low":19.8,"volume":809.76639442,"bid":20.50004,"ask":20.89946,"midpoint":20.69975,"at":1361223350,"price":20.8995,"variation":2.0483,"currency":"eur"}'
  recorded_at: Mon, 18 Feb 2013 21:49:35 GMT
recorded_with: VCR 2.4.0
