---
http_interactions:
- request:
    method: get
    uri: https://bitcoin-central.net/api/v1/ticker
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      Etag:
      - ! '"66d8dc386ec4023fe30903cbfc735a6c"'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
    body:
      encoding: US-ASCII
      string: ! '{"high":21.5,"low":19.8,"volume":802.24639442,"bid":20.50004,"ask":20.89946,"midpoint":20.69975,"at":1361223350,"price":20.8995,"variation":2.0483,"currency":"eur"}'
  recorded_at: Mon, 18 Feb 2013 22:13:00 GMT
