---
http_interactions:
- request:
    method: get
    uri: https://bitcoin-central.net/api/v1/ticker
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      Etag:
      - ! '"2bf6c9d83783e415f363ebccfeb1cdf1"'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
    body:
      encoding: US-ASCII
      string: ! '{"high":23.99,"low":21.701,"volume":668.6614328,"bid":22.53004,"ask":22.99966,"midpoint":22.76485,"at":1361401231,"price":22.53,"variation":2.4093,"currency":"eur"}'
  recorded_at: Wed, 20 Feb 2013 23:18:24 GMT
recorded_with: VCR 2.4.0
